body{
    font-family: monospace;
    text-align: center;
    align-items: center;
}

.title{
    font-size: 4rem;
    color: darkslategray;
}

.subtitle{
    font-size: 2rem;
    color: black;
}

hr{
    position: relative;
    top: 10px;
    border: none;
    height: 10px;
    background: cadetblue;
    margin-bottom: px;
    width: 50em;
}

.word{
    font-size: 3rem;
}
