body {
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: royalblue;
}

.contenedor {
    text-align: center;
    background-color: skyblue;
    padding: 20px;
    border-radius: 10px;
}

form {
    margin-bottom: 25px;
}

.oculto {
    display: none;
}